# Node.js dependencies
node_modules/

# Compiled output
/dist/

# Logs
logs/
*.log

# Editor specific files
.vscode/

# Environment variables
.env.local
.env.*.local

# Jest coverage directory
/coverage/

# Parcel cache directory
.cache/

# Yarn Integrity file
.yarn-integrity

# npm debugging log file
npm-debug.log*

# Vue CLI default output directory
/dist/

# Vue CLI environment variable file
.env

# Dependency directory
/pnpm/

# Optional npm package manager file
pnpm-lock.yaml

# npm package manager file
package-lock.json

# Yarn Integrity file
.yarn-integrity

# macOS
.DS_Store