/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

input[type="file"],
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

input[type="file"] {
  margin-bottom: 20px;
}

button:hover {
  background-color: #777;
}

#question,
#options {
  margin-bottom: 20px;
}

button#nextButton {
  display: none;
}
